<template><!--width: 10%; height: 5%;-->
  <div style="position: fixed; left: 45%; top: 0%; " class="w3-border-blue w3-round-xlarge w3-border w3-black">
  <button class="w3-margin-left w3-button w3-black w3-xlarge w3-round-xlarge w3-hover-blue" click.delegate="switchskin()"><i class="fa fa-male"></i> </button>
  <button class="w3-margin-right w3-button w3-black w3-text-grey w3-xlarge w3-round-xlarge w3-hover-blue" click.delegate="switchskeleton()"><i class="fa fa-male"></i> </button>
  </div>
  <div ref="canvas"></div>
  <i style="position: fixed; left: 5%; top: 10%; width: 30%; height: 50%;">${progresstxt}</i>
</template>
